.flats {
 display: flex;
 flex-wrap: wrap;
 align-content: start;
 cursor: pointer;
}

.flat:hover {
 opacity: 0.6;
}

.flat {
 flex-basis: calc(50% - 20px);
 margin: 10px;
}

.flat-picture {
 background-position: center;
 height: 200px;
 background-size: cover;
}

.flat-title {
 margin-top: 10px;
 font-weight: bold;

}
