.app {
 display: flex;
}

.main {
 background-color: pink;
 flex-basis: 60%;
 display:flex ;
 flex-direction: column;
}

.map {
 background-color:yellow;
 flex-grow: 1;
 height: 100vh;
 top: 0;
 position: sticky;
}

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
